* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
  color: rgb(39, 39, 39);
}

body {
  font-family: "Playfair Display", serif;
  text-align: center;
  background: rgb(230, 230, 230);
}

.container {
  max-width: 680px;
  padding: 0 1em;
  margin: 3em auto;
  display: block;
}

body.home img {
  width: 33%;
  border-radius: 50%;
  border: 2px solid #ccc;
}

body.home h2 {
  font-weight: normal;
  font-size: 1.75em;
  margin: 1em 0;
  line-height: 1.5;
}

body.home p {
  font-size: 1.1em;
  margin-bottom: 1em;
}

body.home ul li {
  list-style: none;
  display: inline;
  font-size: 1.1em;
}

body.home ul li~li::before {
  content: "/";
  padding: 0 10px;
}