:root {
  --theme: #5E73FC;
  --text: rgb(39, 39, 39);
  --mid-grey: rgb(158, 158, 158);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
  color: var(--text);
}

body {
  font-family: "Space Mono", monospace;
  background: rgb(230, 230, 230);
}

.container {
  max-width: 820px;
  padding: 0 1em;
  margin: 3em auto;
  display: block;
}

body.home {
  text-align: center;
}

body.home img {
  width: 33%;
  border-radius: 50%;
  border: 2px solid #ccc;
}

body.home h1 {
  line-height: 1.5;
}

body.home h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin: 1em 0;
  margin-bottom: 1em;
}

body.home p {
  font-size: 1em;
  margin-bottom: 1em;
}

body.home ul {
  margin-top: 2em;
}

body.home ul li {
  list-style: none;
  display: inline;
  font-size: 1em;
}

.hl {
  background: var(--theme);
  color: white;
}

body.home ul li~li::before {
  content: "/";
  padding: 0 10px;
}

body.content h3 {
  font-weight: normal;
  font-size: 1em;
}

body.content .top {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--theme);
}

ul.abstracts li {
  margin-top: 1.5em;
  padding-bottom: 1.5em;
  display: block;
  border-bottom: 1px solid var(--mid-grey);
}

ul.abstracts h2 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 0.75em;
}

ul.abstracts .tags {
  margin-top: 0.5em;
}

ul.abstracts .type {
  display: inline-block;
  background: var(--theme);
  color: white;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

@media screen and (max-width: 600px) {
  body.home h1,
  body.home h2 {
    font-size: 1.25em;
  }
}